.wrapper {
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: color; */
    overflow: hidden;
    padding: 20px 0;
}

.text-solid .text-outline {
    line-height: 20px;
}