.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 64px;
}

.nav__logo {
    position: relative;
}

.nav__logo_text {
    position: absolute;
    top: 35px;
    left: 55px;
}

.nav__logo_textRed {
    color: #CD4631;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav__list_item {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
}